.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.posts div.post {
  width: calc(100% - 2px);
  display: flex;
  border-bottom: 1px solid #e2e2e2;
}

.posts div.post a, .posts div.post.title span {
  text-decoration: none;
  color: black;
}

.posts div.post.title span {
  font-weight: bold;
}

.postTitle {
  width: calc(75% - 2rem);
  padding: .7rem 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.postAuthor {
  width: calc(15% - 2rem);
  padding: .7rem 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.postViews {
  width: calc(10% - 2rem);
  padding: .7rem 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.postList {
  display: flex;
  flex-direction: column-reverse;
}

.postList .noposts {
  color: #646464;
  margin: 2rem auto;
}

.commentCount {
  margin-left: .3rem;
  color: #007eff;
}

@media (max-width: 720px) {
  .postTitle {
    width: calc(60% - 2rem);
  }
  .postAuthor {
    width: calc(30% - 2rem);
  }
}