.App {
  width: 50vw;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: transparent;
  border: 1px solid #007eff;
  display: flex;
  padding: .3rem 1rem;
  font-size: 1rem;
  border-radius: 10rem;
  color: #007eff;
  transition: .5s;
  cursor: pointer;
  margin-left: auto;
  text-decoration: none;
}

button:hover {
  background-color: #007eff;
  color: white;
}